<h1>Chartable Topics</h1>

<h3>U.S. Government</h3>
  <div class="topics-list">
    <a href="/datasets/trump">Trump Administration Debts</a>
  </div>
<h3>U.S. Health</h3>
  <div class="topics-list">
    <a href="/datasets/life_expectancy">U.S. Life Expectancy</a>
  </div>
<h3>World Development</h3>
  <div class="topics-list">
    <a href="/datasets/gender_inequality">Gender Inequality</a>
  </div>
<h3>Climate Change</h3>
  <div class="topics-list">
    <a href="/datasets/canadian_climate">Canadian Temperature Data</a>
  </div>
<h3>U.S. Public Safety</h3>
  <div class="topics-list">
    <a href="/datasets/police_killings">Police Killings of People in the U.S.</a>
  </div>
