html *{
   font-family: Arial !important;
}

.hidden {
  display: none;
}

.link-share {
  text-align: center;
}
.big-button {
  font-size: 1.2em;
  font-weight: bold;
}

body {
  margin:2%;
}

h1, h3, form, .topics-list {
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:   #E0FFFF;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color:  #E0FFFF;
    color: white;
}

select, input {
  font-size: 1em;
}

#Chartable {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*Fonts for dataset show page*/
#dataset-title {
  font-weight: bold;
}







