<!DOCTYPE html>
<html>
  <head>
    <title>Chartable</title>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>

    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="topnav">
      <nav>
        <a href="/">Home</a>
      </nav>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
